---
# Authelia minimal configuration for mati-lab homelab
# Docs: https://www.authelia.com/configuration/

server:
  address: 'tcp://:9091'

log:
  level: info

authentication_backend:
  file:
    path: /config/data/users_database.yml
    watch: true

session:
  name: authelia_session
  same_site: lax
  inactivity: 30m
  expiration: 12h
  remember_me: 1M
  redis:
    host: redis
    port: 6379
    database_index: 0
  cookies:
    - domain: 'mati-lab.online'
      authelia_url: 'https://authelia.mati-lab.online'
      default_redirection_url: 'https://homarr.mati-lab.online'
      name: authelia_session
      same_site: lax
      inactivity: 30m
      expiration: 12h
      remember_me: 1M

storage:
  local:
    path: /config/data/db.sqlite3

totp:
  issuer: mati-lab.online

access_control:
  default_policy: two_factor
  rules:
    - domain: ntfy.mati-lab.online
      policy: bypass

notifier:
  filesystem:
    filename: /config/data/notification.txt
