---
# Authelia minimal configuration for mati-lab homelab
# Docs: https://www.authelia.com/configuration/

server:
  address: 'tcp://:9091'

log:
  level: info

authentication_backend:
  file:
    path: /config/data/users_database.yml
    watch: true

session:
  cookies:
    - domain: 'mati-lab.online'
      authelia_url: 'https://authelia.mati-lab.online'

storage:
  local:
    path: /config/data/db.sqlite3

access_control:
  default_policy: one_factor
  rules:
    - domain: uptime-kuma.mati-lab.online
      policy: bypass
    - domain: ntfy.mati-lab.online
      policy: bypass

notifier:
  filesystem:
    filename: /config/data/notification.txt
