# Environment files
.env
.env.local
.env**

# Logs
*.log

# Temporary files
*.tmp
*.temp

# Backup files
*.backup
*.bak

# IDE files
.idea
.project

# Data directories
data
secrets
.vault_password
unsafe-notes.md

# Packer variables
**/*.pkrvars.hcl

# Service-specific data directories
uptime-kuma/data