{
  email mateusz.goral92@gmail.com
}

pihole.mati-lab.online {
  tls internal

  @pihole host pihole.mati-lab.online
  handle @pihole {
      reverse_proxy http://pihole:8080 {
          header_up Host {host}
          header_up X-Real-IP {remote_host}
          header_up X-Forwarded-For {remote_host}
          header_up X-Forwarded-Proto {scheme}
      }
  }

  handle {
    respond "unknown host" 404
  }
}
