{
    email mateusz.goral92@gmail.com
    acme_dns cloudflare {env.CF_API_TOKEN}
}

*.mati-lab.online {
    tls {
        dns cloudflare {env.CF_API_TOKEN}
        resolvers 1.1.1.3
    }

    @pihole host pihole.mati-lab.online
    handle @pihole {
        reverse_proxy pihole:8080 {
            header_up Host {host}
            header_up X-Forwarded-Proto https
            header_up X-Forwarded-Ssl on
        }
    }

    @proxmox host proxmox.mati-lab.online
    handle @proxmox {
        reverse_proxy 192.168.1.11:8006 {
            transport http {
                tls_insecure_skip_verify
            }
        }
    }

    @homebridge host homebridge.mati-lab.online
    handle @homebridge {
        reverse_proxy 192.168.1.155 {
            header_up Host {host}
            header_up X-Forwarded-Proto https
            header_up X-Forwarded-Ssl on
        }
    }

    @uptime-kuma host uptime-kuma.mati-lab.online
    handle @uptime-kuma {
        reverse_proxy http://uptime-kuma:3001 {
            header_up Host {host}
            header_up X-Forwarded-Proto https
            header_up X-Forwarded-Ssl on
            header_up Upgrade {>Upgrade}
            header_up Connection {>Connection}
        }
    }

    handle {
        respond "unknown host" 404
    }
}
