log:
  level: info
runner:
  capacity: 1
  labels:
    - ubuntu-latest:docker://catthehacker/ubuntu:act-latest
cache:
  enabled: true
  dir: /data/cache
container:
  network: bridge
  privileged: false
  workdir_parent: /data/workspace
host:
  workdir_parent: ""
