services:
  web:
    image: "{{ registry_image_web }}"
    container_name: smart-resume-web
    restart: unless-stopped
    ports:
      - "80:80"

  api:
    image: "{{ registry_image_api }}"
    container_name: smart-resume-api
    restart: unless-stopped
    env_file: .env
