[Unit]
Description=PostgreSQL daily backup for {{ postgres_db }}

[Service]
Type=oneshot
User=postgres
ExecStart=/bin/bash -c 'pg_dump -Fc {{ postgres_db }} > {{ app_remote_path }}/backups/{{ postgres_db }}-$(date +%%F).dump'
ExecStartPost=/usr/bin/find {{ app_remote_path }}/backups -name '*.dump' -mtime +7 -delete
